<h1><%= "Your Search Returned #{@events_count} Events!" %></h1>
<% form_with url: "/users/#{@user.id}/events", method: :get do |f| %>
  <% @events.each do |event| %>
    <h4><%= event.name %></h4>
    <%= event.category %>
    <%= event.description %>
  <% end %>
<% end %>